.logcard{
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 300px;
  width: 350px;
}
.inpt{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    border-bottom: 1px solid black;
}
body{
    background-image: url(../images/labas5.jpg) ;
    background-size: 100%;
}
.btn-primary{
  border-color: #e6b400;
  background-color: #e6b400;
}
.btn-primary:hover{
  border-color: #e69b00;
  background-color: #e69b00;
}
.text-white{
  position:absolute;
  margin-top: 47px;
  margin-left:190px;
}
.text-primary{
  color: #e6b400 !important;
}
